<div class="hidden md:block">
    <header class="header px-9 flex h-[80px] items-center ">
        <div class="pr-9 border-r-[1px] border-[rgba(255,255,255,.2)] h-full items-center flex"><a href=""><img
                    src="assets/Agilibo.svg" alt="" /></a></div>
        <div class="mx-6">
            <button><img src="assets/hamburgerIcon.svg" alt="" /></button>
        </div>
        <!-- search bar -->
        <div
            class="bg-[rgba(255,255,255,.15)] rounded-[6px] pl-[62px] pr-3  h-[54px] relative max-w-[400px] w-full flex items-center">
            <button class="bg-transparent border-0 absolute  left-[15px]">
                <img src="assets/search.svg" alt="" /></button>
            <div class="h-6 w-[1px] bg-[rgba(255,255,255,.5)] mr-1"></div>
            <input type="text" placeholder="Search"
                class="bg-transparent border-0 w-full leading-[38px] text-white text-[20px] focus:outline-none focus:ring-0 placeholder-white" />
        </div>
        <div class="ml-auto flex items-center">
            <div class="flex items-center gap-4">
                <button><img src="assets/alert.svg" alt="" /></button>
                <button><img src="assets/notifications.svg" alt="" /></button>
            </div>
            <div class="h-6 w-[1px] bg-[rgba(255,255,255,.5)] mx-5"></div>
            <div class="flex items-center gap-4">
                <strong class="text-[21px] text-white font-semibold">Hi, Mark</strong>
                <button><img src="assets/user.svg" alt="" /></button>
            </div>
        </div>
    </header>
</div>
<div class="block md:hidden">
    <header class="header flex h-[60px] items-center ">
        <div class="mx-3">
            <a href=""><img class="w-[32px]" src="assets/hamburgerIcon.svg" alt="" /></a>
        </div>
        <div class="ml-3 px-5 border-l-[1px] border-[rgba(255,255,255,.2)] h-full items-center flex"><a href=""><img
                    src="assets/Agilibo.svg" class="h-[32px]" alt="" /></a></div>
        <div class="ml-auto border-l-[1px] border-[rgba(255,255,255,.2)] h-full items-center flex ml-3 px-3"><img
                src="assets/menu.svg" alt="" /></div>
    </header>
</div>