<div class="bg-white border-[1px] border-[#D7DBE7] rounded-[6px]">
  <h2 class="py-2 px-5 border-b-[1px] border-[#D7DBE7] text-[22px] text-[#D66838] font-semibold">Solution Focused
    Coaching Circle</h2>
  <div class="p-5">
    <p class="text-[#666] font-medium text-[15px] pb-5 leading-[20px]">At the very top of lorem Ipsum has been and the
      industry's standard dummy text ever since the 1500s, when an took a unknown printer took a galley of type...</p>
    <div class="bg-[rgba(217,217,217,.2)] rounded-[6px] [&>div>span]:text-[11px] flex justify-between	px-4 mb-6
      [&>div>span]:font-semibold [&>div>span]:leading-[14px] [&>div>span]:block [&>div>span]:text-[#999] [&>div>span]:uppercase
      [&>div>p]:text-[12px] [&>div>p]:font-semibold [&>div>p]:leading-[14px] [&>div>p]:block [&>div>p]:text-[#666]">
      <div class="flex gap-2 py-[8px] items-center">
        <i><img src="assets/user.svg" alt="" class="w-[34px] h-[34px]" /></i>
        <div class="[&>span]:text-[11px] [&>span]:font-semibold [&>span]:leading-[14px] [&>span]:block [&>span]:text-[#999]
          [&>p]:text-[12px] [&>p]:font-semibold [&>p]:leading-[14px] [&>p]:block [&>p]:text-[#666]"><span>Created
            BY</span>
          <p>Mambo Jambo</p>
        </div>
      </div>
      <div class="w-[1px] h-[49px] bg-[#E7E4E4]"></div>
      <div class="py-[10px]"><span>Event Type</span>
        <p>Webiner</p>
      </div>
      <div class="w-[1px] h-[49px] bg-[#E7E4E4]"></div>
      <div class="py-[10px]"><span>Feedback status</span>
        <p>2 Days Remaining</p>
      </div>
    </div>

    <div
      class=" w-[fit-content] m-auto rounded border border-gray-300 pt-2 pb-2 px-4 flex items-center justify-center relative">
      <div
        class="text-xs text-gray-400 uppercase bg-white px-4 absolute left-1/2 top-[-7px] whitespace-nowrap transform -translate-x-1/2 font-semibold ">
        Event happened between
      </div>
      <p class="font-semibold text-gray-500 text-[12px]">{{date[0]| date: 'HH:mm EEE, dd, MMM y'}}</p>
      <i class="mx-1" (click)="date.reverse()"><img src="assets/compareArrows.svg" alt="" /></i>
      <p class="font-semibold text-gray-500 text-[12px]">{{date[1]| date: 'HH:mm EEE, dd, MMM y'}}</p>
    </div>
  </div>

  <div class="border-t-[1px] border-b-[1px] border-[rgba(215,219,231,.4)] px-5 py-4 ">
    <label class="pb-[3px] text-[#999] text-[11px] font-semibold uppercase">Filter Statistics By Date</label>
    <div date-rangepicker class="flex items-center">
      <div class="flex gap-2 rounded-[4px] h-[34px] border-[1px] border-[#D9D9D9]">
        <div class="flex items-center px-3 pointer-events-none border-r-[1px]">
          <i><img class="h-[28px]" src="assets/calendar.svg" alt="" /></i>
        </div>
        <input id="startDateInput" name="start" type="text"
          class="bg-transparent border-0 w-full font-semibold leading-[14px] text-[#666666] placeholder-[#666666] focus:outline-none focus:ring-0"
          placeholder="Select date start" style="font-size: 12px !important;" />
      </div>

      <span class="mx-4 text-gray-500">to</span>

      <div class="flex gap-2 rounded-[4px] h-[34px] border-[1px] border-[#D9D9D9]">
        <div class="flex items-center px-3 pointer-events-none border-r-[1px]">
          <i><img class="h-[28px]" src="assets/calendar.svg" alt="" /></i>
        </div>
        <input id="endDateInput" name="end" type="text"
          class="bg-transparent border-0 w-full font-semibold leading-[14px] text-[#666666] placeholder-[#666666] focus:outline-none focus:ring-0"
          placeholder="Select date end" style="font-size: 12px !important;" />
      </div>
    </div>


  </div>
  <div class="border-b-[1px] border-[rgba(215,219,231,.4)] px-5 py-4 ">
    <label for="countries" class="text-[11px] text-[#999] font-semibold mb-[3px] leading-[14px] uppercase">Filter
      Feedback by score</label>
    <select id="countries"
      class="border border-[#D9D9D9] block w-full rounded-[6px] text-[#666666] text-sm font-semibold h-[38px] px-2 outline-none focus:ring-0 focus:border-[#D66838]">
      <option selected>Choose a country</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>

  </div>
  <div class="px-5 py-4 ">
    <img src="assets/graph.jpg" alt="" />
  </div>
</div>